.join-box {
    background: var(--bg-secondary);
    border: 1px solid var(--border-color);
    padding: 40px;
    max-width: 850px;
    width: 100%;
    transform: rotate(-2deg);
}

.join-title {
    color: var(--accent-red);
    font-size: 14px;
    letter-spacing: 1px;
}

.custom-label {
    font-size: 11px;
    color: var(--text-secondary);
}

.custom-input {
    border-radius: 0 !important;
    border: none !important;
    background: #f1f1f1 !important;
}

.custom-input:focus {
    box-shadow: none !important;
}

.join-submit {
    width: 100%;
    border: none;
    background: var(--accent-red);
    color: white;
    padding: 15px;
    font-weight: 700;
    margin-top: 20px;
}

.join-submit:hover {
    opacity: 0.9;
}

/* .track-description {
margin-top: 12px;
padding: 12px;
border-left: 3px solid #dc3545;
background: rgba(255, 255, 255, 0.05);
color: #ccc;
border-radius: 8px;
font-size: 0.95rem;
line-height: 1.8;
direction: rtl;
text-align: right;
unicode-bidi: plaintext;
} */

.custom-input,
.custom-input::placeholder,
textarea {
    direction: rtl;
    text-align: right;
}